<aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin"
                                aria-expanded="false">
                                <i class="far fa-clock" aria-hidden="true"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/profile"
                                aria-expanded="false">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/doctorlist"
                                aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Doctor list</span>
                            </a>
                        </li>
                       <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/messagelist"
                                aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="hide-menu">Message List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/payment"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Payment</span>
                            </a>
                        </li>
                    
                        {{!-- offer --}}
                         <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#userCollapse"
                        aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#userCollapse">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span class="hide-menu">Offer <span class="float-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span></span>
                    </a>
                    <ul id="userCollapse" class="pl-3 collapse">
                            <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/createoffer"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Create Offer</span>
                            </a>
                        </li>
                          <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/offerlist"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Offer List</span>
                            </a>
                        </li>
                    </ul>
                   </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#userCollapse"
                                aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#userCollapse">
                                <i class="fa fa-table" aria-hidden="true"></i>
                                <span class="hide-menu">Users <span class="float-right"><i class="fa fa-angle-right" aria-hidden="true"></i></span></span>
                            </a>
                            <ul id="userCollapse" class="pl-3 collapse">
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/verifieduser">
                                        <i class="fa fa-id-card" aria-hidden="true"></i>
                                        <span class="hide-menu">Verified User</span>
                                    </a>
                                
                                </li>
                                <li class="sidebar-item">
                                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/newuserlist"
                                        aria-expanded="false">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                        <span class="hide-menu">New User</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/blockuserlist"
                                    aria-expanded="false">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    <span class="hide-menu">Block User</span>
                                </a>
                            </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">Error 404</span>
                            </a>
                        </li>
                         <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="logout"
                                aria-expanded="false">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                <span class="hide-menu">logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
</aside>